@CHARSET "UTF-8";
body{
	font-family: "Malgun Gothic", "맑은 고딕", NanumGothic, 나눔고딕, 돋움, sans-serif;
}

a {
	cursor: pointer;
}

.btn1 {
	 font-size: 12px;
	 color:#333;
 	 font-weight:500;
	 font-family: NanumGothic, 나눔고딕, "Malgun Gothic", "맑은 고딕", 돋움, sans-serif;
	 border:1px solid #ccc;
	 background-color:#FFF;
	 vertical-align:middle;
	 text-align:text-align;
	 cursor:cursor;
	 padding:4px 8px;
	 border-radius:4px;
	 margin-bottom: 3px;
}
.btn1:active, .btn1:focus, .btn1:hover {
	 background-color:#e6e6e6;
	 border-color: #adadad;
	 color: #333;
}

.bbtn {
	font-family: "Malgun Gothic", "Nanum Gothic", "Dotum";
    background-image:none; background: #424951; border-color: #2f3741;
    color:#fff;
    font-weight: normal;
}
.bbtn:hover {
	font-family: "Malgun Gothic", "Nanum Gothic", "Dotum";
    background-image:none; background: #333; border-color: #333;
    color:#fff;
    font-weight: normal;
}
.wbtn {
	font-family: "Malgun Gothic", "Nanum Gothic", "Dotum";
    background-image:none; border-color: #D5D5D5;
    color:#000;
}
.wbtn:hover {
	font-family: "Malgun Gothic", "Nanum Gothic", "Dotum";
    background-image:none; background: #F6F6F6; border-color: #D5D5D5;
    color:#000;
    font-weight: normal;
}

.moveButton {
	 font-size: 12px;
	 font-weight:500;
	 font-family: NanumGothic, 나눔고딕, "Malgun Gothic", "맑은 고딕", 돋움, sans-serif;
	 border:1px solid #ccc;
	 background-color:#FFF;
	 vertical-align:middle;
	 text-align:text-align;
	 cursor:cursor;
	 color:#333;
	 width: 320px;
	 height: 45px;
	 line-height: 45px;
	 border-radius:4px;
}
.moveButton:hover {
	 background-color:#e6e6e6;
	 border-color: #adadad;
	 color: #333;
}

.boxTF {
	border:1px solid #999;
	padding:4px 6px;
	border-radius:4px;
	background-color:#ffffff;
	font-family: NanumGothic, 나눔고딕, "Malgun Gothic", "맑은 고딕", 돋움, sans-serif;
	font-size: 9pt;
}
.boxTA {
	border:1px solid #999;
	height:150px;
	padding:3px 6px;
	border-radius:4px;
	background-color:#ffffff;
	font-family: NanumGothic, 나눔고딕, "Malgun Gothic", "맑은 고딕", 돋움, sans-serif;
	font-size: 9pt;
}
.selectField {
	border:1px solid #999;
	padding:3px 6px;
	border-radius:4px;
	font-family: NanumGothic, 나눔고딕, "Malgun Gothic", "맑은 고딕", 돋움, sans-serif;
	font-size: 9pt;
}
